<!DOCTYPE html>
<head>
<title>Amazon</title>
</head>
<body>

	<form action="/amazon" method="post">
		
		<input type="text" placeHolder="Search by keyword" name="keyword"></input>
		<select name="category">
	    <option value="Apparel">Apparel</option>
	    <option value="Automotive">Automotive</option>
	    <option value="Baby">Baby</option>
	    <option value="Beauty">Beauty</option>
	    <option value="Books">Books</option>
	    <option value="DVD">DVD</option>
	    <option value="Electronics">Electronics</option>
	    <option value="GiftCards">GiftCards</option>
	    <option value="Grocery">Grocery</option>
	    <option value="HealthPersonalCare">HealthPersonalCare</option>
	    <option value="HomeGarden">HomeGarden</option>
	    <option value="Jewelry">Jewelry</option>
	    <option value="KindleStore">KindleStore</option>
	    <option value="Luggage">Luggage</option>
	    <option value="Music">Music</option>
	    <option value="MusicalInstruments">MusicalInstruments</option>
	    <option value="OfficeProducts">OfficeProducts</option>
	    <option value="PCHardware">PCHardware</option>
	    <option value="PetSupplies">PetSupplies</option>
	    <option value="Shoes">Shoes</option>
	    <option value="Software">Software</option>
	    <option value="SportingGoods">SportingGoods</option>
	    <option value="Toys">Toys</option>
	    <option value="VideoGames">VideoGames</option>
	    <option value="Watches">Watches</option>
		</select>
		<button type="submit" >Search</button>		

    </form>

</body>
</html>